
/*** Fixes for product images ***/
.single-product .product-image {
    min-height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-product .product-image img {
    max-height: 245px;
    width: auto;
}

/*** Product Details ***/
.single-product .product-info .price span.unit-price {
    color: #888;
    display: block;
    font-size: 9pt;
}
