
/*** Front Page Fixes ***/
.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.single-product .product-image .button .btn {
    text-wrap: nowrap;
}

/*** Fixes for product images ***/
.single-product .product-image {
    /*min-height: 245px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-product .product-image img {
    max-height: 245px;
    width: auto;
}

.main-img {
    border: 1px solid #eee;
    border-radius: 4px;
}

.main-img > img {
    width: auto !important;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none !important;
    max-height: 320px;
}

.thumb {
    width: auto !important;
    height: 125px !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3) !important;
    opacity: 0.8;
}

.thumb:hover {
    opacity: 1.0;
    border: 2px solid black !important;
    box-shadow:  0 0 2px 1px rgba(0,0,0,0.7) !important;
}

/*** Product Details ***/
.single-product .product-info .price span.unit-price {
    color: #888;
    display: block;
    font-size: 9pt;
}

.top-area .info-body {
    margin: 20px 30px;
}

.section.item-details {
    padding-top: 20px !important;
}

/*** Window Mode shows compact view in popups ***/
body.popup-mode header {
    display: none;
}
body.popup-mode footer {
    display: none;
}
body.popup-mode .breadcrumbs {
    display: none;
}


/*** New Skin Toggle ***/
.newskin-toggle {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 1000;
    text-wrap:  none;
    width: 200px;
    padding: 10px;
    background: yellow;
    color: black;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 5px;
}

/*** News ticker ***/
.news-ticker {
    overflow: hidden;
    width: 100%;
    text-wrap: none;
    font-family: monospace;
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    overflow: hidden;
    height: 40px;
    margin-top: -25px;
    padding-left: 100%;
    box-sizing: content-box;

    .ticker {

        display: inline-block;

        display: inline-flex;

        height: 4rem;
        line-height: 4rem;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;

        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: ticker;
        animation-duration: 35s;

        &__item {

            display: inline-block;

            padding: 0 2rem;
            font-size: 2rem;
            color: white;

            margin-right: 200px !important;
        }

    }

}


/*** Fix icons in circle centering in Social Media Links and Shopping Links ***/

.header .nav-social ul li a {
    padding-top: 9px;
}
.footer .footer-bottom .socila li a {
     padding-top: 9px;
 }
.header .navbar-cart .cart-items .main-btn {
    padding-top: 9px;
}
.header .navbar-cart .wishlist a {
    padding-top: 9px;
}

/*** Shopping Cart Preview ***/
.header .navbar-cart .cart-items .shopping-item {
    top: 50px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.537);
}

.btn-update-cart {
    margin: 10px 0 !important;
}

.right {
    margin-top: 10px !important;
}

.right input {
    padding: 2px 1px !important;
}

/*** Subcategory list ***/
.active-category {
    color: black;
    font-weight: bold;
    font-style: italic;
}

/*** Menu Fixes ***/
.nav-item i {
    margin-right: 5px;
}

.wishlist-on {
    background: rgba(255, 0, 0, 0.7);
    color: white !important;
}

/*** Front Page Slideshow ***/
.hero-slider {

}
.hero-slider .content {
    padding: 0 !important;
    margin: 25px 0 0 0 !important;
    top: auto !important;
    width: 100%;
}

.hero-area .hero-slider .single-slider {
    height: 510px;
}

.hero-slider .single-slider img {
    /*box-shadow: 0px 1px 15px rgba(0,0,0,0.4);*/
}

.tns-item {
    text-align: center;
}

/*** Wish List Dropdown ***/


.ddl-wishlist {
    margin-right: 10px;
}

.header .navbar-cart .wishlist {
    position: relative;
}

.header .navbar-cart .wishlist:hover .main-btn {
    color: #fff;
    background-color: #0167F3;
    border-color: transparent;
}

.header .navbar-cart .wishlist .main-btn {
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #eee;
    color: #555;
    font-size: 18px;
    text-align: center;
    position: relative;
}

.header .navbar-cart .wishlist .main-btn .total-items {
    position: absolute;
    right: -6px;
    top: -5px;
    height: 19px;
    width: 19px;
    line-height: 19px;
    background-color: #081828;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
}

.header .navbar-cart .wishlist:hover .shopping-item {
    opacity: 1;
    visibility: visible;
}

.header .navbar-cart .wishlist .shopping-item {
    position: absolute;
    top: 72px;
    right: 0;
    width: 300px;
    background: #fff;
    padding: 20px 25px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 99;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
    opacity: 0;
    visibility: hidden;
}

/** Product details **/

.item-details .product-info .wish-button {
    text-wrap: nowrap;
    width: 135px;
}

/** shopping cart **/

.cart-items .content h4 {
    font-size: 15px
}

.header .navbar-cart .ddl-wishlist .shopping-item .shopping-list li .remove {
    padding-top: 5px;
}

.shopping-list li:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.error-list {
    color: red;
}

.cart-empty {
    font-size: 20px;
    padding: 30px 20px;
    background: white;
}

.cart-empty p {
    font-size: 20px;
    color: red;
    text-align: center;
}

/** category view **/
.category-cell {

}

.category-cell h4 {
    font-size: 1.78em;
}

.grid-size-slider {
    padding: 5px 5px;
}

#nav-size-range {
    padding: 0 10px;
}


/*********** SLIDER: Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 7rem;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** SLIDER: Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #d1d1d1;
    border-radius: 1rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
    background-color: #0166f4;
    border-radius: 0.5rem;
    height: 1.5rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #0166f4;
    outline-offset: 0.125rem;
}

/*********** SLIDER: Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #d1d1d1;
    border-radius: 1rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #0166f4;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1.5rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #0166f4;
    outline-offset: 0.125rem;
}